@charset "urf-8";

*{margin: 0; padding: 0;}
body{font-size: 16px; font-family: '맑은 고딕'; background-color: #fff}
li{list-style: none;}
a{text-decoration: none; color: rgb(255, 255, 255);}
img{vertical-align: top; border: 0;}

/* layout */
#wrap{width: 1200px;height: auto; margin: 0 auto;}
#header{height: 140px; background-color: rgba(17, 15, 15, 0.892);}
#visual{height: 550px;}
#content{height: 700px;}
#container{height: 500px;}
#footer{height: 200px;}


/* header */
#header .logo{margin: 15px; float: left;}

#header .lnb{width: 450px; height: 70px; float: right; }
#header .lnb ul li{width: 80px; height: 20px; float: left; margin-top:50px; margin-left: 100px; font-size: 20px;}
#header .lnb ul li a{color: white;}

#header .gnb{ width: 600px; height: 40px; float: right; margin-top: 30px; font-size: 20px;}
#header .gnb .main{width: 150px; height: 40px; float: left; position: relative; transition: .5s ease-in-out; z-index: 2;}
#header .gnb .main a{display: block; text-align: center; line-height: 40px; color: rgb(255, 255, 255);}
#header .gnb .main:hover .sub{display: block;}

#header .sub{width: 150px;height: 160px; display: none;}
#header .sub li{width: 150px;height: 40px; font-size: 20px; background-color: rgba(17, 15, 15, 0.892);}
#header .sub li a{line-height: 40px; transition: all .6s ease;}
#header .sub li:hover a{display: block;  color: white; background-color: rgba(0, 0, 0);}


/* visual */
#visual img{width: 1200px; height: 550px; margin: 0 auto; position: relative; z-index: 1;}




/* content */
#content{width: 1200px;height: auto; margin: 0 auto;}
#content img{width: 1200px; height: 800px;}

#content .album{width: 1200px; height: 800px; overflow: hidden;}
#content .images{position: relative; height: 800px; display: flex; transition: all .7s ease;}

#content button, button:active, button:focus{width: 100px; height: 30px; border: none; color: white; background-color: teal; outline: none;}
#content button:hover{background-color: turquoise;}
#content button:disabled{background-color: gray;}

#content .prev{float: left;}
#content .next{float: right;}




/* container */
#container{width: 1200px; height: 500px; margin: 0 auto; margin-top: 70px;}
#container h2{margin: 0 auto; text-align: center;}

#container .box{width: 33.3%; height: 500px; float: left; margin: auto; border: 0px solid rgba(255,255,255,0); position: relative; opacity: .7; overflow: hidden; cursor: pointer;}
#container .box img{width: 100%; height: 500px;}
#container .box div{width: 100%; height: 300px; transition: all 1s ease;  position: absolute; left: 0; bottom: -180px; color:rgb(255, 255, 255); font: 60px/160px verdana, arial; text-align: center; background-color: rgba(255, 255, 255, 0)}
#container .box:hover{border-color: rgba(255, 255, 255, 1); opacity: 1;}
#container .box:hover div{bottom:0}  


/* footer */
#footer {position: relative; width: 1200px; height: 200px; margin: 0 auto; background-color: rgba(17, 15, 15, 0.892); z-index: 1;}

#footer .juso{position: absolute; top: 30px; left: 10px; color: white; font-size: 20px;}
#footer .copy{position: absolute; top: 120px; left: 10px; color: white; font-size: 16px;}
#footer .flogo{position: relative; top: 30px; left: 500px; z-index: 2;}
#footer .sns{position: absolute; top: 30px; right: 20px; width: 200px; height: 80px;}
#footer .sns li{width: 60px; height: 60px; float: left; margin-top: 5px;}

#footer .sns li:nth-child(1) a{
    display: block; width: 100%; height: 100%; background: url(../images/sns1-1.png) no-repeat;
    background-size: 60px 60px; text-indent: -9999px;}
#footer .sns li:nth-child(2) a{
    display: block; width: 100%; height: 100%; background: url(../images/sns2.webp) no-repeat;
    background-size: 60px 60px; text-indent: -9999px;}
#footer .sns li:nth-child(3) a{
        display: block; width: 100%; height: 100%; background: url(../images/facebook-icon-26.png) no-repeat;
        background-size: 60px 60px; text-indent: -9999px;}
