body {
    background: #f5f5f5;
    transition: all 0.5s;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

/* main */
.content {
    width: 100vw;
    height: 100vh;
}
.content-inner {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.arrow-box {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100vw;
    z-index: 200;
    text-align: center;
}
.arrow-left,
.arrow-right {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 252, 235);
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 40px;
    line-height: 60px;
    cursor: pointer;
    margin-right: 10px;
}
.arrow-right {
    margin-right: 0px;
}

/* header */
.header {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.header h1 {
    font-size: 30px;
    line-height: 40px;
    background-color: #000;
    width: 200px;
    height: 40px;
    color: #fff;
    text-align: center;
}

.menu-box {
    width: 300px;
    display: flex;
}
@media all and (max-width: 700px) {
    .menu-box {
        display: none;
    }
}
.menu-box label {
    flex: 1;
    border: 1px solid #000;
    height: 40px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: transparent;
    text-align: center;
    line-height: 40px;
}
.menu-box label.red {
    background-color: #ff3e05;
}
.menu-box label.orange {
    background-color: #ff8d05;
}
.menu-box label.yellow {
    background-color: #ecca05;
}
.menu-box label.green {
    background-color: #40af04;
}
.menu-box label.blue {
    background-color: #057fff;
}
.menu-box label.indigo {
    background-color: #7500ca;
}
.menu-box label.violet {
    background-color: #cc6fcc;
}
.menu-box label:first-of-type {
    border-radius: 5px 0 0 5px;
}
.menu-box label:last-of-type {
    border-radius: 0 5px 5px 0;
}
.menu-box input {
    display: none;
}
.menu-box label:hover {
    flex: 2;
}
.menu-box label:hover, 
.menu-box input:checked + label {
    transition: 0.3;
    opacity: 1;
    color: #fff;
    letter-spacing: normal;
}
.menu-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}
@media all and (max-width: 700px) {
    .menu-bar {
        display: block;
    }
}
.menu-bar span {    
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    border: 2px solid #000;
    width: 100%;
    margin-bottom: 4px;
}
.menu-bar span:nth-of-type(2) {
    top: 15px;
}
.menu-bar span:nth-of-type(3) {
    top: 30px;
}

.homework-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.homework-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.homework-inner.active {
    display: block;
    display: flex;
}

/* homework-inner 01 - 이벤트 실습 */
.homework-textbox {
    width: 300px;
    height: 100px;
    text-align: center;
}
.homework-textbox > p {
    color: #fff;
    font-weight: 800;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
    vertical-align: center;
    margin-bottom: 20px;
    background-color: #000;
}
.flex-box {
    text-align: center;
    position: absolute;
    width: 300px;
}
.flex-box > p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 210, 210);
    color: rgb(82, 45, 45);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    animation-name: shake;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% {
        left: -10px;
    }
    50% {
        left: 10px;
    }
    100% {
        left: -10px;
    }
}

/* homework-inner 02 - 계산기 */
.calculator {
    width: 320px;
    border: 2px solid black;
    font-size: 0;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: gray;
}
.calculator span {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 3px;
    background: white;
    margin: 2px;
    vertical-align: middle;
}
.calculator span:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px #000;
}
.calculator .output {
    width: 217px;
    text-align: right;
    overflow: hidden;
    padding: 0 5px;
}
.calculator span.operator {
    background-color: rgb(255, 211, 218);
}
.calculator span#period {
    background-color: skyblue;
}
.calculator span#cancel {
    background-color: #f0716d;
}

/* homework-inner 03 - 이미지 갤러리 */
.img-box {
    width: 500px;
    height: 500px;
}
.img-main {
    width: 100%;
    height: 300px;
    border: 5px solid #000;
}
.img-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-sublist {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #000;
    border-top: 0px;
}
.img-sublist img {
    flex-basis: 25%;
    height: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #000;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

/* homework-inner 04 - 로그인 검증 */
.loginWrap {
    padding: 100px 50px;
    background: rgb(228, 228, 228);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginWrap p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
}
.login-list-box {
    margin-bottom: 20px;
} 
.input-username,
.input-password {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}
input:focus {
    outline: none;
}
.btn-login {
    width: 200px;
    height: 40px;
    border: none;
    background-color: orange;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
.login-text-box {
    margin-top: 20px;
    text-align: center;
}
.login-text-box p {
    display: inline-block;
    font-size: 12px;
}
.login-text-box p:nth-of-type(1) {
    color: gray;
}
.login-text-box p:nth-of-type(2) {
    font-weight: 800;
    color: rgb(252, 67, 67);
}