*{
  margin: 0;
  padding: 0;
}
body{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.content-wrapper{
  width: 500px;
}
.content-title{
  border-radius: 5px;
  background-color: rgb(58, 116, 184);
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}
.arrow{
  width: 10px;
  height: 10px;
  border: 5px solid black;
  border-top: none;
  border-right: none;
  position: absolute;
  right: 30px;
  top: 35%;
  transform: rotate(-45deg);
}
.content{
  border-radius: 5px;
  background-color: skyblue;
  opacity: 0.8;
  padding: 10px;
  display: none;
}
.active{
  display: block;
}
.active-arrow{
  transform: rotate(135deg);
}